<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Blog Site</title>
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" />
</head>

<body>
	<div class="wrapper">
		<header class="main-header">
			<h1 class="main-header__title">Author</h1>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__list-item"><a href="/posts/">Posts</a></li>
					<li class="nav__list-item"><a href="/authors/">Authors</a></li>
					<li class="nav__list-item"><a href="/categories/">Categories</a></li>
					<li class="nav__list-item"><a href="/tags/">Tags</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="container">
				<h1 class="author-title">Author</h1>
				<section class="author-posts">
					<div th:each="post: ${authorAttribute.posts}">
						<a class="author-posts-list" th:text="${post.title}" th:href="|/posts/${post.id}|"></a>
					</div>
				</section>
				<a href="/authors">Back to all authors</a>
			</div>
		</main>
</body>

</html>