<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Site</title>
</head>

<body>
    <h1>Authors</h1>
    <form action="/authors/add" method="POST">
        <label>Name
            <input type="text" required name="authorString" placeholder="Enter New Author">
        </label>
        <button type="submit">Submit</button>
</form>

    <div th:each="author: ${authorsAttribute}">
        <a th:text="${author.name}" th:href="|/authors/${author.id}|"></a>
    </div>

</body>

</html>