<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Site</title>
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">Bloggie</h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="/posts/">Posts</a></li>
                    <li class="nav__list-item"><a href="/authors/">Authors</a></li>
                    <li class="nav__list-item"><a href="/categories/">Categories</a></li>
                    <li class="nav__list-item"><a href="/tags/">Tags</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1 class="posts-title">Blog Posts</h1>
                <form class="post-form" action="/posts/add" method="POST">
                    <label class="post-form__field">Title
                        <input type="text" name="title" placeholder="Enter Title" required />
                    </label>
                    <label class="post-form__field">Author
                        <select name="authorString" required>
                            <option selected></option>
                            <option value="Wonder Woman">Wonder Woman</option>
                            <option value="Deadpool">Deadpool</option>
                            <option value="Jessica Jones">Jessica Jones</option>
                            <option value="Luke Cage">Luke Cage</option>
                            <option value="Captain America">Captain America</option>
                            <option value="Iron Man">Iron Man</option>
                        </select>
                    </label>
                    <label class="post-form__field">Category
                        <select name="categoryString" required>
                            <option selected></option>
                            <option value="popery">popery</option>
                            <option value="music">music</option>
                            <option value="comics">comics</option>
                            <option value="food">food</option>
                            <option value="drinks">drinks</option>
                            <option value="life">life</option>
                        </select>
                    </label>
                    <label class="post-form__field">Tag
                        <select name="tagsString" required>
                            <option selected></option>
                            <option value="legend">legend</option>
                            <option value="heros">heros</option>
                            <option value="coke">coke</option>
                            <option value="country trap">country trap</option>
                            <option value="beer">beer</option>
                            <option value="pop">pop</option>
                        </select>
                    </label>
                    <label class="post-form__field" required>Content
                        <textarea required name="content" id="" cols="30" rows="10"
                            placeholder="Enter Content"></textarea>
                    </label>
                    <button class="post-form__button" type="submit">Submit</button>
                </form>

                <div class="posts__list" th:each="post: ${postsAttribute}">
                    <a class="posts__list-item" th:text="${post.title}" th:href="|/posts/${post.id}|"></a>
                </div>
            </div>
        </main>
    </div>

</body>

</html>